$violet: #9356DC;
$rose: #FF79DA;
$vert: #99E2D0;
$width100: 100%;


/*-----------------------------------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.justifyCont {
    justify-content: center;
}

.textAlign {
    text-align: center;
}

.flexCol {
    flex-direction: column;
}

.alignItems {
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.plat {
    font-weight: 800;
}

.grid {
    display: grid;
}

.justifyItem {
    justify-items: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 5%;
    font-family: 'Shrikhand', cursive;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 5%;
}

.Bordur {
    border: #99E2D0 1px solid;
    width: 12px;

}

hr {
    width: 5%;
    float: inline-start;
    margin: 0px 9px;
    color: #99E2D0;
    border: 2px solid;
}

.title {
    padding: 0% 2%;
}

.margin5 {
    margin: 5%;
}

.mb5 {
    margin-bottom: 15%;
}

.center {
    margin: 1% auto;
}

.marginA {
    margin: 4% auto;
}

.Marge0auto {
    margin: 0 auto;
}

.cont-img {
    height: 265px;
}

.Shrikhand {
    font-family: 'Shrikhand', cursive;
}

.menu-footer {
    width: $width100;
    padding: 15px 0px;

    div {
        margin: 0% 5%;
    }
}


.coontaineList {
    li {
        margin: 2% 5%;
    }
}

a {
    list-style: none;
    text-decoration: none;
}

a:active,
a:hover,
a:visited,
a:link {
    color: black;
}

.absolute {
    position: absolute;
}

header,
section,
.pixContainer,
main,
footer {
    animation: ease-in 1.5s opacity;
}