.menuContainer {

    width: 94%;
    border-radius: 11px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 3%;
    transition: 1s;

    &:hover {
        border-radius: 11px 0px 0px 11px;
        width: 77%;
        transition: 1s;
        cursor: pointer;
    }

    &:hover .namePlat {
        //width: 27vh;
        transition: 300ms;
    }

    &:hover .accompagnement {
        transition: 300ms;
    }


}

.load {
    opacity: 0;
    animation: 1.5s ease-in load;
}

.containerInfo {
    width: 95%;
    border-radius: 11px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 3% 2%;
    animation: 2s ease-in 0s 1 OnLoad;
    transition: 1s;

    &:hover {
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.2);
        transition: 1s;
    }

    &:hover .checked {
        width: 18%;
        transition: 1s;
    }

    &:hover .logoCheck {
        width: 20px;
        transform: rotate(360deg);
        position: relative;
        left: -7px;
        transition: 1s;
    }

}

.logoCheck {
    padding: 6px 8px;
    background-color: white;
    border-radius: 25px;
    margin: 14px;
    position: relative;
    left: 17px;
    width: 20px;

    i {
        color: $vert;
        font-size: x-large;
    }
}

.grandCard {
    border-radius: 40px;
    padding-bottom: 4%;
    position: unset;
    top: 37%;
    background: white;
    z-index: 1;
    width: 100%;

}

.pixContainer {
    z-index: -1;

    div {
        position: relative;
    }
}


.grandTitre {
    border-radius: 20px;
    background: white;
    position: relative;
    bottom: 20px;
}

.namePlat {
    font-size: larger;
    font-weight: 600;
}

.accompagnement {
    font-size: smaller;
    color: #383838;
}

.prix {
    font-size: large;
    font-weight: bold;
}

button {
    width: 43%;
    color: white;
    font-size: 10px;
    background: linear-gradient(20deg, $rose, $violet);
    border-radius: 15px;
    padding: 2% 0;
    border: none;
    margin-bottom: 7%;
    box-shadow: #383838 0px 3px 6px 0px;
    font-weight: bolder;
    transition: 500ms;
    font-size: 2vh;

    &:hover {
        box-shadow: #383838 0px 6px 12px 0px;
        background: linear-gradient(80deg, $rose, $violet);
        transition: 500ms;
    }
}

.btn-valid-cmd {
    font-size: 2rem;
    font-weight: bolder;
    transition: 200ms;

    &:hover {
        box-shadow: #232323 0px 6px 16px 0px;
        cursor: pointer;
        transition: 200ms;
    }
}

footer {
    width: $width100;
    background: #383838;
    color: whitesmoke;

    a,
    a:active,
    a:hover,
    a:visited,
    a:link {
        color: whitesmoke;
    }

    li {
        display: flex;

        .fa-solid {
            width: 2%;
        }

        div {
            margin: 0 !important;
            margin-right: 10px !important;
        }
    }

}

.arrow {
    position: relative;
    left: 4%;
}

.checked {
    width: 0%;
    background: $vert;
    overflow: hidden;
    box-shadow: none !important;
    border-radius: 0px 11px 11px 0px !important;
    margin: unset !important;
    padding: unset !important;
    transition: 1s;

}

.btn-cmd {
    padding-bottom: 0;
}

aside {
    width: $width100;

    .cont-01 {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90%;
    }

    .namePlat,
    .accompagnement {
        width: 85%;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: 200ms;
    }

}


.global-h {
    animation: 1s ease-out 0s 1 OnLoad;
    position: relative;
    left: -19px;
}

.cont-heart {

    .heart-1 {
        position: absolute;
        top: 3px;
        //color:$violet;
        background: -webkit-linear-gradient(-90deg, #9356dc, #ff79da);
        background-clip: content-box;
        -webkit-background-clip: text;
        color: transparent;
        right: -13px;
        transition: 500ms;
    }

    .heart-0 {
        position: absolute;
        top: 3px;
        z-index: 1;
        background-color: white;
        right: -13px;
    }

    i {
        font-size: 25px;
    }

    /* &:hover .heart-0 {
        opacity: 0;
        transition: 200ms;
    }*/

    .heart-0:hover {
        transition: 400ms;
        opacity: 0;
    }
}

.lds-ring {
    display: inline-block;
    position: absolute;
    bottom: 70%;
    width: 180px;
    height: 180px;
    z-index: 1;
    margin: 0 42%;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 164px;
    height: 164px;
    margin: 8px;
    border: 16px solid $violet;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $violet transparent transparent transparent;

}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@media screen and (min-width: 1000px) {

    .container-all-menu {
        display: flex;
        width: 99%;

        section {
            margin: 0 auto;
        }
    }

    .grandCard {
        padding-bottom: 10%;
        position: unset;
        top: 47%;
        background: white;
        z-index: 1;
        width: 100%;
    }

    .marginA {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #entre,
    #plat,
    #Desserts {
        width: 32.5%;
        margin: 5px;
    }

}

@media screen and (max-width:1000px) {
    .btn-valid-cmd {
        font-size: 1rem;
    }

    .lds-ring {
        margin: 0 40%;
    }
}

@media screen and (max-width:450px) {
    .lds-ring {
        margin: 0px 28%;
    }
}

@keyframes OnLoad {
    0% {
        transform: translateY(13%);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}

@keyframes load {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {

        opacity: 0;
    }
}