.menuContainer {
    width: $width100;

    div {
        border-radius: 11px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        margin: 3% 2%;
        padding: 3%;
    }
}

.grandCard {
    border-radius: 40px;
    padding-bottom: 4%;
    position: absolute;
    top: 37%;
    background: white;
    z-index: 1;
    width: 100%;

}

main {


    div {
        position: relative;
        z-index: -1;
    }
}


.namePlat {
    font-size: larger;
    font-weight: 600;
}

.accompagnement {
    font-size: smaller;
    color: #383838;
}

.prix {
    font-size: large;
    font-weight: bold;
}

button {
    width: 35%;
    color: white;
    font-size: 10px;
    background: linear-gradient(20deg, $rose, $violet);
    border-radius: 15px;
    padding: 2% 0;
    border: none;
    margin-bottom: 7%;
}

footer {
    width: $width100;
    background: #383838;
    color: whitesmoke;
}

.arrow {
    position: relative;
    left: 4%;
}

.checked {
    width: 0%;
    background: $vert;
    overflow: hidden;
    box-shadow: none !important;
    border-radius: unset !important;
    margin: unset !important;
    padding: unset !important;
}

.checked:hover {
    width: 10%;
}

aside {
    width: $width100;
}